/* ----------- BODY & MAIN ----------- */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  main {
    background-image: url("/public/images/fourgon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    flex: 1;
  }

  /* ----------- ACCUEIL ----------- */
  #accueil {
    padding-top: 70px;
    display: grid;
    gap: 20px;
    padding: 40px 0;
    max-width: 1200px;
    margin: auto;
  
  }
  
  #accueil > div {
    margin: auto;
    width: 100%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 100%;
    align-items: center;
  
  }
  
  #electro { background-color: rgba(58, 58, 73, 0.75); }
  #demenagement { background-color: rgba(58, 58, 73, 0.75); }
  #nettoyage { background-color: rgba(58, 58, 73, 0.75); }
  #fournisseurs { background-color: rgba(58, 58, 73, 0.75); }
  
  #accueil h1 {
    font-family: fantasy;
    font-size: larger;
    color: #fe8e03;
    background-color: rgba(28, 42, 172, 0.75);
    border: 2px solid black;
  }
  .paragraphe {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #333;
    padding: 0 10px;
  }
  
  #accueil p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding: 16px;
    color: #f8f8fa;
  }
  
  #accueil h2 {
    font-family: fantasy;
    color: #fe8b01;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* ----------- BOUTONS DE LA SECTION ACCUEIL ----------- */
.portfolio-experiment {
    background: rgba(0, 0, 0, 0.75);
  }
  
  .portfolio-experiment a {
    color: rgb(6, 10, 243);
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
  }
  
  .portfolio-experiment a .text {
    font-family: proxima-nova, monospace;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  
  .portfolio-experiment a:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: #f26522;
    transition: 
      transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s,
      right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s,
      left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
  }
  
  .portfolio-experiment .line {
    position: absolute;
    background: #f26522;
  }
  
  .portfolio-experiment .line.-right,
  .portfolio-experiment .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
  }
  
  .portfolio-experiment .line.-top,
  .portfolio-experiment .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
  }
  
  .portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
  }
  
  .portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
  }
  
  .portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
  }
  
  .portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
  }
  
  .portfolio-experiment a:hover .text,
  .portfolio-experiment a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
  }
  
  .portfolio-experiment a:hover:after,
  .portfolio-experiment a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: 
      transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s,
      right 0.2s cubic-bezier(1, 0, 0.65, 1.01),
      left 0s 0.3s;
  }
  
  .portfolio-experiment a:hover .line,
  .portfolio-experiment a:active .line {
    transform: scale3d(1, 1, 1);
  }
  
  .portfolio-experiment a:hover .line.-right,
  .portfolio-experiment a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
  }
  
  .portfolio-experiment a:hover .line.-top,
  .portfolio-experiment a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
  }
  
  .portfolio-experiment a:hover .line.-left,
  .portfolio-experiment a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
  }
  
  .portfolio-experiment a:hover .line.-bottom,
  .portfolio-experiment a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
  }